<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heaven.dao.ActivityMapper">
	<resultMap id="BaseResultMap" type="com.heaven.model.Activity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="author_id" property="authorId" jdbcType="INTEGER" />
		<result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
		<result column="click_count" property="clickCount" jdbcType="INTEGER" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="isdelete" property="isdelete" jdbcType="INTEGER" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.heaven.model.Activity"
		extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithUser" type="com.heaven.model.Activity"
		extends="ResultMapWithBLOBs">
		<association property="user" javaType="com.heaven.model.User">
			<id column="userid" property="id" jdbcType="INTEGER" />
			<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
			<result column="level_site" property="levelSite" jdbcType="INTEGER" />
			<result column="register_day" property="registerDay" jdbcType="TIMESTAMP" />
			<result column="lastlogin_day" property="lastloginDay"
				jdbcType="TIMESTAMP" />
			<result column="image" property="image" jdbcType="VARCHAR" />
			<result column="score" property="score" jdbcType="INTEGER" />
			<result column="role" property="role" jdbcType="INTEGER" />
			<association property="userLevel" javaType="com.heaven.model.UserLevel">
				<id column="levelSite" property="id" jdbcType="INTEGER" />
				<result column="name" property="name" jdbcType="VARCHAR" />
			</association>
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, author_id, begin_time, click_count, end_time, title, isdelete, pic,
		out_time
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	<!-- 按id查询 -->
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from activity
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 所有 -->
	<select id="selectAll" resultMap="ResultMapWithUser">
		select
		activity.id,activity.author_id, begin_time, click_count, end_time, title, activity.isdelete, pic,
		out_time
		,
		content ,user.id as userid,user.nick_name ,
		user.level_site,user_level.name,user.register_day,user.lastlogin_day,user.score,user.image,user.role
		from activity, user ,user_level
		where activity.author_id = user.id and user.level_site = user_level.Id
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from activity
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.heaven.model.Activity">
		insert into activity (author_id, begin_time,
		click_count, end_time, title,
		isdelete, pic, out_time,
		content)
		values ( #{authorId,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP},
		#{clickCount,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP},
		#{title,jdbcType=VARCHAR},
		#{isdelete,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR}, #{outTime,jdbcType=TIMESTAMP},
		#{content,jdbcType=LONGVARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.heaven.model.Activity">
		insert into activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="beginTime != null">
				begin_time,
			</if>
			<if test="clickCount != null">
				click_count,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="isdelete != null">
				isdelete,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="outTime != null">
				out_time,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="authorId != null">
				#{authorId,jdbcType=INTEGER},
			</if>
			<if test="beginTime != null">
				#{beginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="clickCount != null">
				#{clickCount,jdbcType=INTEGER},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=INTEGER},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="outTime != null">
				#{outTime,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 按需更新 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.heaven.model.Activity">
		update activity
		<set>
			<if test="authorId != null">
				author_id = #{authorId,jdbcType=INTEGER},
			</if>
			<if test="beginTime != null">
				begin_time = #{beginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="clickCount != null">
				click_count = #{clickCount,jdbcType=INTEGER},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				isdelete = #{isdelete,jdbcType=INTEGER},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="outTime != null">
				out_time = #{outTime,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.heaven.model.Activity">
		update activity
		set author_id = #{authorId,jdbcType=INTEGER},
		begin_time = #{beginTime,jdbcType=TIMESTAMP},
		click_count = #{clickCount,jdbcType=INTEGER},
		end_time = #{endTime,jdbcType=TIMESTAMP},
		title = #{title,jdbcType=VARCHAR},
		isdelete = #{isdelete,jdbcType=INTEGER},
		pic = #{pic,jdbcType=VARCHAR},
		out_time = #{outTime,jdbcType=TIMESTAMP},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.heaven.model.Activity">
		update activity
		set author_id = #{authorId,jdbcType=INTEGER},
		begin_time = #{beginTime,jdbcType=TIMESTAMP},
		click_count = #{clickCount,jdbcType=INTEGER},
		end_time = #{endTime,jdbcType=TIMESTAMP},
		title = #{title,jdbcType=VARCHAR},
		isdelete = #{isdelete,jdbcType=INTEGER},
		pic = #{pic,jdbcType=VARCHAR},
		out_time = #{outTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>