<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heaven.dao.SectionMapper" >
  <resultMap id="BaseResultMap" type="com.heaven.model.Section" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="master_id" property="masterId" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMapwithuser" type="com.heaven.model.Section" extends="BaseResultMap">
    <association property="user" javaType="com.heaven.model.User">
    	<id column="userid" property="id" jdbcType="INTEGER" />
    	<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, master_id, introduction, click_count, isdelete, level, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from section
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 带有user的查看全部 -->
  <select id="selectAllByParent" resultMap="BaseResultMapwithuser" parameterType="java.lang.Integer" >
    select 
	section.Id, Name, master_id, section.introduction, click_count, section.isdelete, level, parent_id,user.id as userid,user.nick_name
	from section,user
	where master_id = user.id and parent_id = #{parentId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from section
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.heaven.model.Section" >
    insert into section (Id, Name, master_id, 
      introduction, click_count, isdelete, 
      level, parent_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{masterId,jdbcType=INTEGER}, 
      #{introduction,jdbcType=VARCHAR}, #{clickCount,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.heaven.model.Section" >
    insert into section
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="masterId != null" >
        master_id,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heaven.model.Section" >
    update section
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heaven.model.Section" >
    update section
    set Name = #{name,jdbcType=VARCHAR},
      master_id = #{masterId,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>