<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heaven.dao.ShareFolderMapper">
	<resultMap id="BaseResultMap" type="com.heaven.model.ShareFolder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="sharefolder_name" property="sharefolderName"
			jdbcType="VARCHAR" />
		<result column="sharefolder_desc" property="sharefolderDesc"
			jdbcType="VARCHAR" />
		<result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
		<result column="isdelete" property="isdelete" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="BaseResultMapwithUser" type="com.heaven.model.ShareFolder"
		extends="BaseResultMap">
		<association property="user" javaType="com.heaven.model.User">
			<id column="userid" property="id" jdbcType="INTEGER" />
			<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
			<result column="level_site" property="levelSite" jdbcType="INTEGER" />
			<result column="register_day" property="registerDay" jdbcType="TIMESTAMP" />
			<result column="lastlogin_day" property="lastloginDay"
				jdbcType="TIMESTAMP" />
			<result column="image" property="image" jdbcType="VARCHAR" />
			<result column="score" property="score" jdbcType="INTEGER" />
			<result column="role" property="role" jdbcType="INTEGER" />
			<association property="userLevel" javaType="com.heaven.model.UserLevel">
				<id column="levelSite" property="id" jdbcType="INTEGER" />
				<result column="name" property="name" jdbcType="VARCHAR" />
			</association>
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, sharefolder_name, sharefolder_desc, out_time
	</sql>
	<!-- 单个 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMapwithUser"
		parameterType="java.lang.Integer">
		select
		share_folder.id, share_folder.user_id, share_folder.sharefolder_name,
		share_folder.sharefolder_desc, share_folder.out_time,
		user.id as userid,user.nick_name ,user.level_site,user_level.name
		from share_folder , user ,user_level
		where share_folder.user_id = user.id and user_level.id = user.level_site
		and share_folder.id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 多条件获取文件夹信息 -->
	<select id="selectByMoreInfo"  parameterType="com.heaven.model.ShareFolder" resultMap="BaseResultMapwithUser">
		select
		share_folder.id, share_folder.user_id, share_folder.sharefolder_name,
		share_folder.sharefolder_desc, share_folder.out_time,
		user.id as userid,user.nick_name ,user.level_site,user_level.name
		from share_folder , user ,user_level
		where share_folder.user_id = user.id and user_level.id = user.level_site
		<if test="userId != null">
			and	share_folder.user_id = #{userId,jdbcType=INTEGER} 
		</if>
		<if test="sharefolderName != null">
			and share_folder.sharefolder_name = #{sharefolderName,jdbcType=VARCHAR} 
		</if>
		<if test="sharefolderDesc != null">
			and share_folder.sharefolder_desc = #{sharefolderDesc,jdbcType=VARCHAR} 
		</if>
	</select>
	<!-- 所有的 -->
	<select id="selectAllFolder" resultMap="BaseResultMapwithUser"
		parameterType="com.heaven.model.ShareFolder">
		select
		share_folder.id, share_folder.user_id, share_folder.sharefolder_name,
		share_folder.sharefolder_desc, share_folder.out_time,
		user.id as userid,user.nick_name ,user.level_site,user_level.name
		from share_folder , user ,user_level
		where share_folder.user_id = user.id and user_level.id = user.level_site
		
		<if test="userId != null">
			and	share_folder.user_id = #{userId,jdbcType=INTEGER} 
		</if>
		<if test="sharefolderName != null">
			and share_folder.sharefolder_name = #{sharefolderName,jdbcType=VARCHAR} 
		</if>
		<if test="sharefolderDesc != null">
			and share_folder.sharefolder_desc = #{sharefolderDesc,jdbcType=VARCHAR} 
		</if>
		<if test="isdelete != null">
			and share_folder.isdelete = #{isdelete,jdbcType=INTEGER} 
		</if>

		order by share_folder.out_time

	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from share_folder
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.heaven.model.ShareFolder">
		insert into share_folder ( user_id, sharefolder_name,
		sharefolder_desc, out_time,isdelete)
		values ( #{userId,jdbcType=INTEGER},
		#{sharefolderName,jdbcType=VARCHAR},
		#{sharefolderDesc,jdbcType=VARCHAR}, #{outTime,jdbcType=TIMESTAMP},#{isdelete,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.heaven.model.ShareFolder">
		insert into share_folder
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="sharefolderName != null">
				sharefolder_name,
			</if>
			<if test="sharefolderDesc != null">
				sharefolder_desc,
			</if>
			<if test="outTime != null">
				out_time,
			</if>
			<if test="delete != null">
				delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="sharefolderName != null">
				#{sharefolderName,jdbcType=VARCHAR},
			</if>
			<if test="sharefolderDesc != null">
				#{sharefolderDesc,jdbcType=VARCHAR},
			</if>
			<if test="outTime != null">
				#{outTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.heaven.model.ShareFolder">
		update share_folder
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="sharefolderName != null">
				sharefolder_name = #{sharefolderName,jdbcType=VARCHAR},
			</if>
			<if test="sharefolderDesc != null">
				sharefolder_desc = #{sharefolderDesc,jdbcType=VARCHAR},
			</if>
			<if test="outTime != null">
				out_time = #{outTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isdelete != null">
				isdelete = #{isdelete,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.heaven.model.ShareFolder">
		update share_folder
		set user_id = #{userId,jdbcType=INTEGER},
		sharefolder_name = #{sharefolderName,jdbcType=VARCHAR},
		sharefolder_desc = #{sharefolderDesc,jdbcType=VARCHAR},
		out_time = #{outTime,jdbcType=TIMESTAMP},
		isdelete = #{isdelete,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>