<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lm.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.lm.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="people" property="people" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="sum_price" property="sumPrice" jdbcType="DOUBLE" />
    <result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="ps" property="ps" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, people, table_id, table_name, sum_price, in_time, status, content, ps, 
    deleted
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="all" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from `order`
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `order`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lm.model.Order" >
    insert into `order` (id, user_id, people, 
      table_id, table_name, sum_price, 
      in_time, status, content, 
      ps, deleted)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{people,jdbcType=INTEGER}, 
      #{tableId,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, #{sumPrice,jdbcType=DOUBLE}, 
      #{inTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{ps,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lm.model.Order" >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="people != null" >
        people,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="sumPrice != null" >
        sum_price,
      </if>
      <if test="inTime != null" >
        in_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="ps != null" >
        ps,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="people != null" >
        #{people,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice,jdbcType=DOUBLE},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lm.model.Order" >
    update `order`
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="people != null" >
        people = #{people,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="sumPrice != null" >
        sum_price = #{sumPrice,jdbcType=DOUBLE},
      </if>
      <if test="inTime != null" >
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lm.model.Order" >
    update `order`
    set user_id = #{userId,jdbcType=INTEGER},
      people = #{people,jdbcType=INTEGER},
      table_id = #{tableId,jdbcType=INTEGER},
      table_name = #{tableName,jdbcType=VARCHAR},
      sum_price = #{sumPrice,jdbcType=DOUBLE},
      in_time = #{inTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      ps = #{ps,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>