<html>
<head>
</head>
<body>
	
    你好啊 hello $name !
	
    <script src="ueditor/ueditor.config.js"></script>
    <script src="ueditor/ueditor.all.js"></script>
    <script src="ueditor/lang/zh-cn/zh-cn.js"></script>
 
    <script id="container" name="content" type="text/plain">这里写你的初始化内容</script>
    <script type="text/javascript">
       var editor = UE.getEditor('container');
    </script>
</body>
</html>