<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asz.dao.SectionMapper" >
  <resultMap id="BaseResultMap" type="com.asz.model.Section" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="enter_id" property="enterId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="enter_name" property="enterName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="ps" property="ps" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, enter_id, user_id, enter_name, user_name, ps, deleted, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from section
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUser" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from section
    <if test="_parameter != null">
    	where user_id = #{_parameter,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="selectByEn" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from section
    where ps = #{_parameter,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from section
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asz.model.Section" >
    insert into section (id, enter_id, user_id, 
      enter_name, user_name, ps, 
      deleted, create_time)
    values (#{id,jdbcType=INTEGER}, #{enterId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{enterName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{ps,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.asz.model.Section" >
    insert into section
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enterId != null" >
        enter_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="enterName != null" >
        enter_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="ps != null" >
        ps,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterId != null" >
        #{enterId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="enterName != null" >
        #{enterName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asz.model.Section" >
    update section
    <set >
      <if test="enterId != null" >
        enter_id = #{enterId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="enterName != null" >
        enter_name = #{enterName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asz.model.Section" >
    update section
    set enter_id = #{enterId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      enter_name = #{enterName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      ps = #{ps,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>