<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asz.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.asz.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_pass" property="loginPass" jdbcType="VARCHAR" />
    <result column="resume_id" property="resumeId" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
    <result column="site" property="site" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="ps" property="ps" jdbcType="VARCHAR" />
    <result column="isdetele" property="isdetele" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_name, login_pass, resume_id, enterprise_id, site, email, ps, isdetele, 
    create_time, last_login
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="all" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user
  </select>
  
  
  <select id="login" resultMap="BaseResultMap"  parameterType="com.asz.model.User" >
    select 
    <include refid="Base_Column_List" />
    from user
    where login_name = #{loginName,jdbcType=VARCHAR} 
    <if test="loginPass != null">
    and login_pass = #{loginPass,jdbcType=VARCHAR}
    </if>
    
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asz.model.User" >
    insert into user (id, login_name, login_pass, 
      resume_id, enterprise_id, site, 
      email, ps, isdetele, 
      create_time, last_login)
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{loginPass,jdbcType=VARCHAR}, 
      #{resumeId,jdbcType=INTEGER}, #{enterpriseId,jdbcType=INTEGER}, #{site,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{ps,jdbcType=VARCHAR}, #{isdetele,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastLogin,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.asz.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="loginPass != null" >
        login_pass,
      </if>
      <if test="resumeId != null" >
        resume_id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="ps != null" >
        ps,
      </if>
      <if test="isdetele != null" >
        isdetele,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPass != null" >
        #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="site != null" >
        #{site,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="isdetele != null" >
        #{isdetele,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asz.model.User" >
    update user
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPass != null" >
        login_pass = #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="resumeId != null" >
        resume_id = #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="site != null" >
        site = #{site,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="isdetele != null" >
        isdetele = #{isdetele,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asz.model.User" >
    update user
    set login_name = #{loginName,jdbcType=VARCHAR},
      login_pass = #{loginPass,jdbcType=VARCHAR},
      resume_id = #{resumeId,jdbcType=INTEGER},
      enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      site = #{site,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      ps = #{ps,jdbcType=VARCHAR},
      isdetele = #{isdetele,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_login = #{lastLogin,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>