<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sd.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.sd.model.News" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="NVARCHAR" />
    <result column="date_time" property="dateTime" jdbcType="TIMESTAMP" />
    <result column="new_content" property="newContent" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, date_time, new_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- all -->
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from news
  </select>
  
  <select id="selectTop8" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select top 6
    <include refid="Base_Column_List" />
    from news
    
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sd.model.News" >
    insert into news (id, user_id, user_name, 
      date_time, new_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=NVARCHAR}, 
      #{dateTime,jdbcType=TIMESTAMP}, #{newContent,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sd.model.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="dateTime != null" >
        date_time,
      </if>
      <if test="newContent != null" >
        new_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="dateTime != null" >
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newContent != null" >
        #{newContent,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sd.model.News" >
    update news
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="dateTime != null" >
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newContent != null" >
        new_content = #{newContent,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sd.model.News" >
    update news
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=NVARCHAR},
      date_time = #{dateTime,jdbcType=TIMESTAMP},
      new_content = #{newContent,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>