<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyq.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gyq.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_pass" property="loginPass" jdbcType="VARCHAR" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="ps" property="ps" jdbcType="VARCHAR" />
    <result column="isdetele" property="isdetele" jdbcType="INTEGER" />
    <result column="s_id" property="sId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_name, login_pass, site, email, ps, isdetele, s_id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="login" resultMap="BaseResultMap" parameterType="com.gyq.model.User" >
    select 
    <include refid="Base_Column_List" />
    from `user`
    where login_name = #{loginName,jdbcType=INTEGER} 
    <if test="loginPass != null">
    	and login_pass = #{loginPass,jdbcType=VARCHAR}
  	</if>
  
  </select>
  
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `user`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gyq.model.User" >
    insert into `user` (id, login_name, login_pass, 
      site, email, ps, isdetele, 
      s_id, name)
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{loginPass,jdbcType=VARCHAR}, 
      #{site,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{ps,jdbcType=VARCHAR}, #{isdetele,jdbcType=INTEGER}, 
      #{sId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gyq.model.User" >
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="loginPass != null" >
        login_pass,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="ps != null" >
        ps,
      </if>
      <if test="isdetele != null" >
        isdetele,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPass != null" >
        #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="isdetele != null" >
        #{isdetele,jdbcType=INTEGER},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gyq.model.User" >
    update `user`
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPass != null" >
        login_pass = #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="isdetele != null" >
        isdetele = #{isdetele,jdbcType=INTEGER},
      </if>
      <if test="sId != null" >
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gyq.model.User" >
    update `user`
    set login_name = #{loginName,jdbcType=VARCHAR},
      login_pass = #{loginPass,jdbcType=VARCHAR},
      site = #{site,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      ps = #{ps,jdbcType=VARCHAR},
      isdetele = #{isdetele,jdbcType=INTEGER},
      s_id = #{sId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>